@model IEnumerable<HiredHunters.Models.Manange>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pass)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.pass)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.username }) |
                @Html.ActionLink("Details", "Details", new { id = item.username }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.username })
            </td>
        </tr>
    }

</table>
@*<a href="~/Views/Admin_Mananges/Index.cshtml">~/Views/Admin_Mananges/Index.cshtml</a>
<a href="~/Views/Admin_Mananges/Login_Index.cshtml">~/Views/Admin_Mananges/Login_Index.cshtml</a>*@