@model HiredHunters.Models.Recruiter

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Admin_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Recruiter</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recruiter_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recruiter_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profilepic)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profilepic)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JoiningDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JoiningDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.R_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.R_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total_job_Posted)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total_job_Posted)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pass)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pass)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.r_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
