@model HiredHunters.Models.ContactU

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ContactU</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Full_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Full_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phonenumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phonenumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Con_Message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Con_Message)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.apply_no }) |
    @Html.ActionLink("Back to List", "Index")
</p>
