@model HiredHunters.Models.Job

@{
    ViewBag.Title = "Details";
}


<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="~assets/img/hero/about.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>@Html.DisplayFor(model => model.Title)</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- job post company Start -->
    <div class="job-post-company pt-120 pb-120">
        <div class="container">
            <div class="row justify-content-between">
                <!-- Left Content -->
                <div class="col-xl-7 col-lg-8">
                    <!-- job single -->
                    <div class="single-job-items mb-50">
                        <div class="job-items">
                         

                            <div class="job-tittle">
                                <a href="#">
                                    <h4>@Html.DisplayFor(model => model.Title)</h4>
                                </a>
                                <ul>
                                   
                                    <li><i class="fas fa-map-marker-alt"></i>@Html.DisplayFor(model => model.Locations), Bangladesh</li>
                                    <li>$@Html.DisplayFor(model => model.AskingPrice)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- job single End -->

                    <div class="job-post-details">
                        <div class="post-details1 mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Job Description</h4>
                            </div>
                            <p>@Html.DisplayFor(model => model.Details)</p>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Required Knowledge, Skills, and Abilities</h4>
                            </div>
                            <ul>
                                <li>System Software Development</li>
                                <li>Mobile Applicationin iOS/Android/Tizen or other platform</li>
                                <li>Research and code , libraries, APIs and frameworks</li>
                                <li>Strong knowledge on software development life cycle</li>
                                <li>Strong problem solving and debugging skills</li>
                            </ul>
                        </div>
                        <div class="post-details2  mb-50">
                            <!-- Small Section Tittle -->
                            <div class="small-section-tittle">
                                <h4>Education + Experience</h4>
                            </div>
                            <ul>
                                <li>3 or more years of professional design experience</li>
                                <li>Direct response email experience</li>
                                <li>Ecommerce website design experience</li>
                                <li>Familiarity with mobile and web apps preferred</li>
                                <li>Experience using Invision a plus</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- Right Content -->
                <div class="col-xl-4 col-lg-4">
                    <div class="post-details3  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            <h4>Job Overview</h4>
                        </div>
                        <ul>
                            @{ DateTime CreateDate = (DateTime)Model.CreateDate;

                                var longDateValue = CreateDate.ToLongDateString();

                                <li>Posted date : <span>  @longDateValue </span></li>
                                <li>Location : <span>@Html.DisplayFor(model => model.Locations)</span></li>

                                <li>Job nature : <span>Full time</span></li>
                                <li>Salary :  <span> @Html.DisplayFor(model => model.AskingPrice) $USD</span></li>
                            }
                        </ul>
                        <div class="apply-btn2">
                            <a href="#" class="btn">Apply Now</a>
                        </div>
                    </div>
                    <div class="post-details4  mb-50">
                        <!-- Small Section Tittle -->
                        <div class="small-section-tittle">
                            
                        </div>
                        
                        <ul>
                            <li>Name: <span>@Html.DisplayFor(model => model.Recruiter.FirstName) </span></li>
                            <li>Web : <span> </span></li>
                            <li>Email: <span>@Html.DisplayFor(model => model.Recruiter.Email)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- job post company End -->

</main>
